body {
	font-family: "exoregular", "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#MENUSIDE {
	float: left;
	background-color: #1B5269;;
	border-right: 1px solid #151D21;
	overflow: hidden;
	width: 200px;
	position: fixed;
}

#MENUSIDEident {
	width: 100%;
	height: auto;
}

.MenuSideMainLink {
	width: 100%;
	height: 45px;
	display: block;
	padding: 15px 0px 0px 27px;
	cursor: pointer;
}

.bordersOfMenuSide {
	border-top: 1px solid #404A4E;
}

.MainLinkText {
	color: #9BA5AC;
	font-size: 20px;
	margin: 2px 0px 0px 60px;
	display: block;
	cursor: pointer;
}

.MenuSideMainLink img {
	width: 30px;
	height: auto;
	float: left;
}

#CONTENTSIDE {
	width: auto;
	overflow: hidden;
	z-index: 1;
	margin-left: 200px; // same as width of menu
	background-color: #EFF3F6;
}

#CONTENTSIDEindent {
	width: 100%;
	height: auto;
}

.ContentSideSections {
	display: block;
	border-bottom: 1px solid #BCC7CF;
	padding: 30px;
}

#copyright {
	color: #84939F;
	font-size: 12px;
	vertical-align: middle;
}