#MENUSIDE {
	float: left;
	background-color: #1B5269;;
	border-right: 1px solid #151D21;
	overflow: hidden;
	width: 300px;
	position: fixed;
}

#MENUSIDEindent {
	width: 100%;
	height: auto;
}

.MenuSideMainLink {
	width: 100%;
	height: 45px;
	display: block;
	padding: 15px 0px 0px 27px;
	cursor: pointer;
}

.bordersOfMenuSide {
	border-top: 1px solid #404A4E;
}

.MainLinkText {
	color: #9BA5AC;
	font-size: 20px;
	margin: 2px 0px 0px 60px;
	display: block;
	cursor: pointer;
}

.MenuSideMainLink img {
	width: 30px;
	height: auto;
	float: left;
}